<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Curri</title>

    <!-- Bootstrap -->
    {% load staticfiles %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% include 'home/navbar.html' %}
    {% block content %}
    {% endblock %}
    <div class = "container" >
          <h1 style = "font-family: Bariol;">Your Subjects:</h1>
          {% for subject in subjects %}
              <ul class="list-group col-md-6 col-md-offset-3">
                  <a href="#" class="list-group-item list-group-item-action clearfix">
                      <span class="pull-left text-right">{{ subject.title }}</span>
                      <span class="pull-right small">{{ subject.subjectCode }}</span>
                  </a>
              </ul>

          {% empty %}
              {% include "home/noSubjects.html" %}
              {% block jumbotron %}
              {% endblock %}
          {% endfor %}
          <p>
              <a class="btn btn btn-success btn-lg col-sx-6 col-offset-3" href="#" role="button">+ Add subject</a>
          </p>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'home/js/create_subject.js' %}"></script>
    <script src="{% static 'home/js/logout.js' %}"></script>
    <script src="{% static 'home/js/change_password.js' %}"></script>
  </body>
</html>
