<div class="jumbotron" style="text-align: center; background-color: white;">
    <h1 style="font-family: Bariol; display: inline;"><b>Welcome to </b></h1>
    <span class="text-success" style="font-family: Bariol; color: #3399CC "><h1 style="display: inline;"><b>{{ subject.title }}</b></h1></span>
    <h1 style="font-family: Bariol; display: inline;"><b>!</b></h1>
    <p>Curri is a tool that will revolutionize your life! As a student, Curri lets you rate your classes by difficulty, so you easily know what to prioritize during the examination period. Preparing for exams have never been easier! As a professor, you can use the results of the ratings to improve your teaching to become the best. Students will never skip your classes again!</p>

</div>
