{% extends 'home/base.html' %}
{% block content %}
<div class = "container" >
      
      {% if subject.lecture_set.all %}
      <h1 class="list-group col-md-6 col-md-offset-3" style = "font-family: Bariol;">Your 
      Lectures:</h1>
      {% endif %}
      
      {% for lecture in subject.lecture_set.all %}
          <ul class="list-group col-md-6 col-md-offset-3">
              <a href=# class="list-group-item list-group-item-action clearfix">
                  <span class="pull-left text-right">{{ subject.title }}</span>
                  <span class="pull-right small">{{ subject.subjectuser_set.first.permissions }}</span>
                  |{{ subject.subjectID }}
              </a>
          </ul>

      {% empty %}
          {% include "home/noLectures.html" %}
          {% block subjects %}
          {% endblock %}
      {% endfor %}
      {% if subject.lecture_set.all %}
      <div class="col-md-4 col-md-offset-4 text-center" style="padding-top:20px"> 
        <a class="btn btn btn-success btn-lg col-sx-6 col-offset-3" href={% url 'add_lecture' subjectID=subject.subjectID %} role="button">+ Add lecture</a>
      </div>
      {% endif %}
      <div class="col-md-4 col-md-offset-4 text-center" style="padding-top:20px"> 
          <a class="btn btn btn-danger btn-lg col-sx-6 col-offset-3" href={% url 'delete_subject' subjectID=subject.subjectID %} role="button">- Delete subject</a>
      </div>
</div>
{% endblock %}
