{% extends 'home/base.html' %}
{% block content %}
<div class = "container" >
      
      {% if subject.lecture_set.all %}
      <h1 class="list-group col-md-7 col-md-offset-3" style = "font-family: Bariol;">Your 
      Lectures in {{ subject.title }} ID: {{ subject.subjectID }}</h1>
      {% endif %}
      
      {% for lecture in subject.lecture_set.all %}
          <ul id="lecture" class="panel list-group col-md-7 col-md-offset-3">
              <a href="javascript:void(0);" class="list-group-item list-group-item-action clearfix" data-toggle="collapse" data-target="#div_{{ lecture.id }}" data-parent="#lecture">
                <span class="pull-left text-right">{{ lecture.title }} ({{lecture.date}})</span>
                  <span class="pull-right">
                    <div id={{ lecture.id }} class="starrr" data-rating={{ lecture.rating_set.all.0.rating }}></div>
                  </span>
              </a>
              <div id="div_{{ lecture.id }}" class="collapse panel-collapse">
                  <div class="panel-body" style="background-color: #F5F5F5;">
                     {% for tag in lecture.tag_set.all %}
                     <ul id="lecture" class="panel list-group accordion" style="background-color: white; height: 60px;">
                       <span class="glyphicon glyphicon-tag" style="font-size: 15px"> {{tag.title}}</span>
                           <div class="pull-right">
                                <button type="submit" onclick="javascript:rateTag({{ tag.id }}, 1)" class="submit-with-icon pull-up">
                                    <span class="glyphicon glyphicon-thumbs-up" style="color:{% if tag.tagrating_set.all.0.rating == 1 %}green{% else %}gray{% endif %}; padding: 5px; font-size: 25px;"></span>
                                </button>
                                <button type="submit" onclick="javscript:rateTag({{ tag.id }}, -1)" class="submit-with-icon pull-up">
                                  <span class="glyphicon glyphicon-thumbs-down" style="color:{% if tag.tagrating_set.all.0.rating == -1 %}red{% else %}gray{% endif %}; padding: 5px; padding-left: 20px; font-size: 25px;"></span>
                                </button>
                                <div class="progress pull-down" style="height: 5px; width: 85px;">
                                  <div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
                                  </div>
                                  <div class="progress-bar progress-bar-danger" role="progressbar" style="width:60%">
                                  </div>
                                </div>
                           </div>
                        </ul>    
                     {% endfor %}
                     <form action="JavaScript:addTag({{ lecture.id }})" method="post">
                        {% csrf_token %}
                        
                        <input id="lectureID {{ lecture.id }}" name="lectureID" type="hidden" value="{{lecture.id}}">
                        <input id="title {{ lecture.id }}" type="text" name="title" placeholder="Add tag...">
                        <button type="submit" class="submit-with-icon">
                          <span class="glyphicon glyphicon-tag" style="color:green"></span>
                        </button>
                     </form>
                  </div>
              </div>
          </ul>

      {% empty %}
          {% include "home/noLectures.html" %}
          {% block subjects %}
          {% endblock %}
      {% endfor %}
    
      {% ifequal subject.su.0.permissions "admin" %}
      <div class="col-md-4 col-md-offset-4 text-center" style="padding-top:20px"> 
        <a class="btn btn btn-success btn-sm col-sx-6 col-offset-3" href="#" data-toggle="modal" data-target="#lectureModal" role="button">+ Add lecture</a>
      </div>

     <div class="col-md-4 col-md-offset-4 text-center" style="padding-top:20px"> 
          <a class="btn btn btn-danger btn-sm col-sx-6 col-offset-2" href={% url 'delete_subject' subjectID=subject.subjectID %} role="button">+ Delete subject</a>
      </div>
      {% endifequal %}
    
      {% include "home/addLecture.html" %}
    
    
</div>
{% load staticfiles %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="{% static 'home/js/star_rating.js' %}"></script>
<script src="{% static 'home/js/add_tag.js' %}"></script>
<script src="{% static 'home/js/accordion.js' %}"></script>
<script src="{% static 'home/js/rate_tag.js' %}"></script>
{% endblock %}
