{% extends 'registration/base.html' %}

{% block content %}
  {% if validlink %}
    {% load staticfiles %}
    <div class="fluid-container">
      <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div style="display:table-cell; vertical-align:middle; text-align:center">
          <a href={% url "login" %}>
          <img src="{% static 'accounts/img/Curri_logo.png' %}" width="30%">
          </a>
        </div>
        <div class="panel panel-login">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-12">
                <a href="#" class="active" id="login-form-link">Set new password</a>
              </div>
            </div>
            <hr>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <form id="form" method="post" role="form" style="display: block;">
                  {% csrf_token %}
                  <div class="collapse" id="collapse-password">
                    <p id="password-error" style="text-align: right; color: #f08080;"> </p>
                  </div>
                  <div class="form-group">
                    <input type="password" name="new_password1" id="id_new_password1" maxlength="20" tabindex="1" class="form-control" value="" required>
                  </div>
                  <div class="collapse" id="collapse-cpassword">
                    <p id="cpassword-error" style="text-align: right; color: #f08080;"> </p>
                  </div>
                  <div class="form-group">
                    <input type="password" name="new_password2" id="id_new_password2" maxlength="20" tabindex="1" class="form-control" value="" required>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input type="submit" name="set_password_submit" id="id_set_passowrd_submit" tabindex="4" class="form-control btn btn-login" value="Set new password">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'registration/js/checkconfirmpassword.js' %}"></script>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}
