
.glyphicon.glyphicon-tag{
  padding: 8px 3px 0 8px;
}

.submit-with-icon {
  background: transparent;
    border: 0px;
    padding: 0;
    outline: 0;
}

.circle:active {
    content: '';
    background-color: rgb(235, 235, 235);
    border-color: rgb(173, 173, 173);
}

